body {
    background-color: aliceblue;
}
/* admin design */
#firstName-error,
.error,
.fa-trash-can {
    color: red;
}
/* user design */
.fa-pen {
    color: green;
}

#firstName-error,
.form-register {
    background-color: rgb(133, 224, 208);
    padding: 30px;
    width: 70%;
    margin: 50px 50px 50px 150px;
}
.form-login {
    background-color: rgb(133, 224, 208);
    padding: 30px;
    width: 70%;
    margin: 50px 50px 50px 150px;
}

.form-reset-password {
    background-color: rgb(133, 224, 208);
    padding: 30px;
    width: 70%;
    margin: 50px 50px 50px 150px;
}
